<!DOCTYPE html>
<html lang="en">
<head>
    <!--
     Name : Sukhveer Jawandha
     Date: 4/5/2019
      File: 328/dating/views/admin.html
    This file the admin page for dating website.
    /-->
    <meta charset="UTF-8">
    <title>My Dating Website</title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<!--navbar-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">My Dating Website</a>
            <a class="navbar-brand" href="/328/dating">Home</a>
            <a class="navbar-brand" href="/328/admin">Admin</a>
        </div>
    </div>
</nav> <!-- end navbar -->
<div>
    <h1 class="text-center" style="color: #0e1d41">Membership</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Member ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Phone</th>
            <th>Email</th>
            <th>State</th>
            <th>Gender</th>
            <th>Seeking</th>
            <th>Premium</th>
            <th>Interests</th>
        </tr>
        </thead>
        <tbody>
        <repeat group="{{ @members }}" value="{{ @member }}">
            <tr>
                <th>{{ @member['member_id'] }}</th>
                <td><a href="detail/{{ @member['member_id'] }}">{{ @member['fname'] }} {{ @member['lname'] }}</a></td>
                <td>{{ @member['age'] }}</td>
                <td>( {{ @member['phone'] }} )</td>
                <td>{{ @member['email'] }}</td>
                <td>{{ @member['state'] }}</td>
                <td>{{ @member['gender'] }}</td>
                <td>{{ @member['seeking'] }}</td>

                <!-- get premium member icon -->
                <check if="{{ @member['premium'] == 1 }}">
                    <true>
                        <td><span>&#9745;</span></td>
                    </true>
                    <false>
                        <td><span>&#9744;</span>
                        </td>
                    </false>

                </check>

                <td>{{ @member['interests'] }}</td>
            </tr>
        </repeat>
        </tbody>
    </table>
</div>


