<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Title</title>
</head>
<body>
<!-- navbar -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">My Dating Website</a>
        </div>
    </div>
</nav>

<div class="container ">
    <div class="row">
        <!--left-->
        <div class="col-md-6 col-sm-6">
                <h1 class="text-center">My Dating Website</h1>
            <p>
                Welcome to the web's most successful dating website. At <strong>My Dating
                Website</strong> you'll meet another like minded individuals. We have the
                highest success rate of couples on the web. User's are matched by
                interest and location. Find out why so many others have found love on
                our site!
            </p>
            <div >
                <h3>Hear what our users are saying about us.</h3>
            </div>
            <hr>
            <p><em>"I met the love of my life after only a month!" -Andrea</em></p>
            <p><em>It was so easy to set up a profile and start meeting people.
                I didn't realize how many others were looking for love in my
                area." -John Smith</em></p>
            <p><em>"Just try it! You'll never be the same!" -Sarah</em></p>
            <hr>
            <div class="text-center">
                <button type="button" class="btn btn-primary">
                    Create a Profile!
                </button>
            </div>
        </div>

        <!--right-->
        <div class="col-6">
    <img src="">
        </div>
    </div>
</div>
</body>
</html>