<!DOCTYPE html>
<html lang="en">
<head>
    <!--
     Name : Sukhveer Jawandha
     Date: 4/5/2019
      File: 328/dating/views/home.html
    This file the home page for dating website.
    /-->
    <meta charset="UTF-8">
    <title>My Dating Website</title>
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<!--navbar-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">My Dating Website</a>
        </div>
    </div>
</nav> <!-- end navbar -->

<div class="container rounded border">
    <div class="row mt-2 mb-2">
        <!--left-->
        <div class="col-sm-6">
            <div class="text-center">
                <h1>My Dating Website</h1>
            </div>
            <p>
                Welcome to the web's most successful dating website. At <strong>My Dating
                Website</strong> you'll meet another like minded individuals. We have the
                highest success rate of couples on the web. User's are matched by
                interest and location. Find out why so many others have found love on
                our site!
            </p>
            <div class="text-center font-weight-bold">
                <h4>Hear what our users are saying about us.</h4>
            </div>
            <hr>
            <p><em>"I met the love of my life after only a month!" -Andrea</em></p>
            <p><em>It was so easy to set up a profile and start meeting people.
                I didn't realize how many others were looking for love in my
                area." -John Smith</em></p>
            <p><em>"Just try it! You'll never be the same!" -Sarah</em></p>
            <hr>
            <div class="text-center">
                <a href="signup/info" class="btn btn-primary btn-lg">Create a Profile!</a>
            </div>
        </div>

        <!--right-->
        <div class="col-sm-6 ">
            <img src="images/dating.png" class="rounded img-fluid mt-2" id = "mainImg"alt="dating picture">
        </div>
    </div>
</div>
</body>
</html>