<!DOCTYPE html>
<html lang="en">
<head>
    <!--
     Name : Sukhveer Jawandha
     Date: 4/5/2019
      File: 328/dating/views/info.html
    This file contain the form for sign up.
    /-->
    <meta charset="UTF-8">
    <title>Create an Account</title>
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<!-- navbar -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">My Dating Website</a>
            <a class="navbar-brand" href="/328/dating">Home</a>
        </div>
    </div>
</nav> <!-- end navbar -->

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="text-left">Personal Information</h1>
            <hr>
        </div>
    </div>
    <form method="post" action="#">
        <div class="row">
         <div class="col-lg-8">
            <div class="col-md-12">
                <div class="form-group row">
                    <label>First Name</label>
                    <input type="text" class="form-control" name="fname" value="{{ @POST['fname'] }}">
                    <!-- validation error message -->
                    <check if="{{ isset(@errors['fname']) }}">
                        <span class="err">{{ @errors['fname'] }}</span>
                    </check>
                </div>
                <div class="form-group row">
                    <label>Last Name</label>
                    <input type="text" class="form-control" name="lname" value="{{ @POST['lname'] }}">
                    <!-- validation error message -->
                    <check if="{{ isset(@errors['lname']) }}">
                        <span class="err">{{ @errors['lname'] }}</span>
                    </check>
                </div>
                <div class="form-group row">
                    <label>Age</label>
                    <input type="number" maxlength=100 class="form-control" name="age" value="{{ @POST['age'] }}">
                    <!-- validation error message -->
                    <check if="{{ isset(@errors['age']) }}">
                        <span class="err">{{ @errors['age'] }}</span>
                    </check>
                </div>
                <div class="form-group row">
                    <label>Gender</label><br>
                    <repeat group="{{ @genders }}" value="{{ @genderOption }}">
                        <input type="radio" name="gender" value="{{ @genderOption }}"
                        <check if="{{ @genderOption == @gender}}">
                            checked = "checked"
                        </check>
                        >{{ @genderOption }}
                        <br>
                    </repeat>
                </div>
                <div class="form-group row">
                    <label>Phone Number</label>
                    <input type="tel" class="form-control" name="phone" value="{{ @POST['phone']}}">
                    <!-- validation error message -->
                    <check if="{{ isset(@errors['phone']) }}">
                        <span class="err">{{ @errors['phone'] }}</span>
                    </check>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="col-md-12 container fluid">
                <div class="card bg-light mb-3">
                    <b>Note:</b> All information is protected by our <a href="#">privacy policy</a>. Profile information can only be viewed by others with your permission.
                </div>
            </div>
        </div>
    </div>

    <div class="row text-right">
        <button type="submit" class="btn btn-primary">Next ></button>
    </div>
    </form>
</div>
</body>
</html>