<!DOCTYPE html>
<html lang="en">
<head>
    <!--
     Name : Sukhveer Jawandha
     Date: 4/5/2019
      File: 328/dating/views/interests.html
    This file contain the form for interests for signup.
    /-->
    <meta charset="UTF-8">
    <title>Create an Account</title>
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<!-- navbar -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">My Dating Website</a>
            <a class="navbar-brand" href="/328/dating">Home</a>

        </div>
    </div>
</nav> <!-- end navbar -->
<div class="container">
    <div class="mt-4 mb-4">
        <h1>&nbsp;Interests</h1>
        <hr>
        <form action="summary" method="post">
            <p>
                <strong>In-door Interests</strong>
            </p>

            <div class="row">
                <div class="col-sm-3">
                    <div class="col"><input type="checkbox" name="indoor_interests[]" value="tv"> tv</div>
                    <div class="col"><input type="checkbox" name="indoor_interests[]" value="puzzles"> puzzles</div>
                </div>
                <div class="col-sm-3">
                    <div class="col"><input type="checkbox" name="indoor_interests[]" value="movies"> movies</div>
                    <div class="col"><input type="checkbox" name="indoor_interests[]" value="reading"> reading</div>
                </div>
                <div class="col-sm-3">
                    <div class="col"><input type="checkbox" name="indoor_interests[]" value="cooking"> cooking</div>
                    <div class="col"><input type="checkbox" name="indoor_interests[]" value="playing cards"> playing
                        cards
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="col"><input type="checkbox" name="indoor_interests[]" value="board games"> board games
                    </div>
                    <div class="col"><input type="checkbox" name="indoor_interests[]" value="video games"> video games
                    </div>
                </div>
            </div>
            <p>
                <strong>Out-door Interests</strong>
            </p>


            <div class="row">
                <div class="col-sm-3">
                    <div class="col"><input type="checkbox" name="outdoor_interests[]" value="hiking"> hiking</div>
                    <div class="col"><input type="checkbox" name="outdoor_interests[]" value="walking"> walking</div>
                </div>
                <div class="col-sm-3">
                    <div class="col"><input type="checkbox" name="outdoor_interests[]" value="biking"> biking</div>
                    <div class="col"><input type="checkbox" name="outdoor_interests[]" value="climbing"> climbing</div>
                </div>
                <div class="col-sm-3">
                    <div class="col"><input type="checkbox" name="outdoor_interests[]" value="swimming"> swimming</div>
                </div>
                <div class="col-sm-3">
                    <div class="col"><input type="checkbox" name="outdoor_interests[]" value="collecting"> collecting
                    </div>
                </div>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-primary">Next ></button>
            </div>
        </form>
    </div>
</div>
</body>
</html>