<!DOCTYPE html>
<html lang="en">
<head>
    <!--
     Name : Sukhveer Jawandha
     Date: 4/5/2019
      File: 328/dating/views/interests.html
    This file contain the form for interests for signup.
    /-->
    <meta charset="UTF-8">
    <title>Create an Account</title>
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<!-- navbar -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">My Dating Website</a>
            <a class="navbar-brand" href="/328/dating">Home</a>

        </div>
    </div>
</nav> <!-- end navbar -->
<div class="container">
    <div class="mt-4 mb-4">
        <h1>&nbsp;Interests</h1>
        <hr>
        <form action="#" method="post">
            <p>
                <strong>Indoor Interests</strong>
            </p>

            <div class="checkbox row" id="indoor">
                <repeat group="{{@indoor_interests}}" value="{{@indoorOptions}}">
                    <div class="col-sm-3">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="indoor_interests[]" value="{{@indoorOptions}}" ><check if="{{in_array(@indoorOptions, @SESSION['indoor_interests'])}}">checked</check>
                            {{@indoorOptions}}</label>
                    </div>
                </repeat>
            </div>
            <check if="{{isset(@error['indoor_interests'])}}">
                <p>{{@error['indoor_interests']}}</p>
            </check>
            <p>
                <strong>Out-door Interests</strong>
            <div class="checkbox row" id="outdoor">
                <repeat group="{{@outdoor_interests}}" value="{{@outdoorOptions}}">
                    <div class="col-sm-3">
                        <label class="checkbox-inline">
                            <input type="checkbox" name="outdoor_interests[]" value="{{@outdoorOptions}}">
                            <check if="{{in_array(@outdoorOptions, @SESSION['outdoor_interests'])}}">checked</check>
                            >
                            {{@outdoorOptions}}</label>
                    </div>
                </repeat>

                <check if="{{isset(@error['outdoor_interests'])}}">
            <p>{{@error['outdoor_interests']}}</p>
            </check>
            <div class="text-right">
                <button type="submit" name="submit" class="btn btn-primary">Next ></button>
            </div>
        </form>
    </div>
</div>
</body>
</html>