<!DOCTYPE html>
<html lang="en">
<head>
    <!--
     Name : Sukhveer Jawandha
     Date: 4/5/2019
      File: 328/dating/views/profile.html
    This file contain the form for profile info.
    /-->
    <meta charset="UTF-8">
    <title>Create an Account</title>
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<!-- navbar -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">My Dating Website</a>
            <a class="navbar-brand" href="/328/dating">Home</a>
        </div>
    </div>
</nav> <!-- end navbar -->

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="text-left">Profile</h1>
            <hr>
        </div>
    </div>
    <form method="post" action="#">
    <div class="row">
        <div class="col-lg-6">
            <div class="col-md-12">
                <div class="form-group row">
                    <label>Email</label>
                    <input type="email" class="form-control" name="email" value="{{ @POST['email']}}">
                    <!-- validation error message -->
                    <check if="{{ isset(@errors['email']) }}">
                        <span>{{ @errors['email'] }}</span>
                    </check>
                </div>
                <div class="form-group row">
                    <label>State</label>
                        <input class="form-control" name="state" list="state" value="{{ @POST['state']}}">
                        <datalist id="state">
                            <option value="Alabama">
                            <option value="Alaska">
                            <option value="Arizona">
                            <option value="Arkansas">
                            <option value="California">
                            <option value="Colorado">
                            <option value="Connecticut">
                            <option value="Delaware">
                            <option value="District Of Columbia">
                            <option value="Florida">
                            <option value="Georgia">
                            <option value="Hawaii">
                            <option value="Idaho">
                            <option value="Illinois">
                            <option value="Indiana">
                            <option value="Iowa">
                            <option value="Kansas">
                            <option value="Kentucky">
                            <option value="Louisiana">
                            <option value="Maine">
                            <option value="Maryland">
                            <option value="Massachusetts">
                            <option value="Michigan">
                            <option value="Minnesota">
                            <option value="Mississippi">
                            <option value="Missouri">
                            <option value="Montana">
                            <option value="Nebraska">
                            <option value="Nevada">
                            <option value="New Hampshire">
                            <option value="New Jersey">
                            <option value="New Mexico">
                            <option value="New York">
                            <option value="North Carolina">
                            <option value="North Dakota">
                            <option value="Ohio">
                            <option value="Oklahoma">
                            <option value="Oregon">
                            <option value="Pennsylvania">
                            <option value="Rhode Island">
                            <option value="South Carolina">
                            <option value="South Dakota">
                            <option value="Tennessee">
                            <option value="Texas">
                            <option value="Utah">
                            <option value="Vermont">
                            <option value="Virginia">
                            <option value="Washington">
                            <option value="West Virginia">
                            <option value="Wisconsin ">
                            <option value="Wyoming">
                        </datalist>
                    <!-- validation error message -->
                    <check if="{{ isset(@errors['state']) }}">
                        <span>{{ @errors['state'] }}</span>
                    </check>
                </div>
                <div class="form-group row">
                    <label>Seeking</label><br>
                    <label class="radio-inline"><input type="radio" name="seeking" value="male">Male</label>
                    <label class="radio-inline"><input type="radio" name="seeking" value="female">Female</label>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Biography</label>
                    <textarea name="bio" class="form-control" rows="5"  value="{{ @POST['bio']}}"></textarea>
                </div>
            </div>
        </div>
    </div>
        <div class="row text-right">
            <button type="submit" class="btn btn-primary">Next ></button>
        </div>
    </form>
</div>
</body>
</html>