<!DOCTYPE html>
<html lang="en">
<head>
    <!--
     Name : Sukhveer Jawandha
     Date: 4/5/2019
      File: 328/dating/views/interests.html
    This file contain the form for interests for signup.
    /-->
    <meta charset="UTF-8">
    <title>Create an Account</title>
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<!-- navbar -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">My Dating Website</a>
        </div>
    </div>
</nav> <!-- end navbar -->

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <table>
                <tr>
                    <td>Name:{{ $_SESSION['fname']}} {{ $_SESSION['lname']}}</td>
                </tr>
                <tr>
                    <td>Gender:{{ $_SESSION['gender']}}</td>
                </tr>
                <tr>
                    <td>Age:{{ $_SESSION['age']}}</td>
                </tr>
                <tr>
                    <td>Phone:{{ $_SESSION['phone']}}</td>
                </tr>
                <tr>
                    <td>Email:{{ $_SESSION['email']}}</td>
                </tr>
                <tr>
                    <td>State:{{ $_SESSION['state']}}</td>
                </tr>
                <tr>
                    <td>Seeking:{{ $_SESSION['seeking']}}</td>
                </tr>
                <tr>
                    <td>Interests:{{ $_SESSION['outdoor_interests[]']}}{{ $_SESSION['indoor_interests[]']}}</td>
                </tr>
               </table>
        </div>

        <div class="col-sm-6">
            <h3>Bio:{{ $_SESSION['bio']}}</h3>
        </div>
</div>
</div>
</body>
</html>